/*General*/

footer{
  margin-top: 50px;
}

*{
  font-family: Monospace;
  box-sizing:border-box;
}

/*=========================================================================*/

/*Pagina Principal*/
#logo{
  width: 80px;
  height: 80px;
  padding: 5px;
}

.poster{
  background: url("../media/images/inicio/poste.jpg");
  position: relative;
  text-align: center;
}

#top-menu{
  font-size: 20px;
  background-color: rgb(70, 65, 65);
}

.sm-img{
  position: relative;
  margin-top: 65px;
}
.sm-img:hover > p{
  display: block;
}

.simg{
  border-radius: 7px;
  display: block;
  width: 100%;
}

.overtxt{
  border-radius: 7px;
  display: none;
  height: 100%;
  width: 90%;
  position: absolute;
  top:0px;
  left: 0px;
  font-size: 16px;
  text-align: center;
  padding: 25% 0 0;
  margin-left: 14px;
  transition-duration: 0.7s;

}
.overtxt:hover{
  background-color: rgba(0,0,0,0.5);

}

.distribucion{
  margin-top:65px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.poster2{
  background: url("../media/images/inicio/cyan.png");
}

.icon-dis{
  transition:all linear 1s 0.2s;
  transition:all ease 0.5s 0s;
}
.icon-dis:hover{
  transform: scale(0.7,0.7);
  transition-duration: 1s;
}

/*=======================================================================*/

/*Pagina de Noticias*/

.img-news{
  transition:all linear 1s 0.2s;
  transition:all ease 0.5s 0s;
  overflow: hidden;
  height: 250px;
}
.img-news:hover{
  transform: scale(1.1,1.1);
  transition-duration: 1s;
}

.sub-img-news{
  height: 200px;

}

.sub{
  width: 100px;
}

/*=======================================================================*/

/*Pagina de Historia*/

.titulo{
  height: 300px;
  background: url("../media/images/historia/linux.jpg");
  font-size: 40px;
  padding-top:7.5%;
}

.tablas{
  margin-top: 10px;
}

/*=======================================================================*/

/*Pagina de distribucion*/



.quees{
  background: #de4815;
  height: 200px;

}

.ubuntu-txt-color{
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 3%;
}

.ubuntu-descripcion{
  margin-top: 30px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.58);
  padding: 40px 40px 40px 40px;
  box-shadow: 1px 1px 10px 10px #de4815;
}

.caract-ubuntu{
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px #ff5722;
  text-align: justify;
}

.caract-color{
  margin-top: 50px;
  border-left: 5px #ff5722 solid;
}

#btn-ubuntu{


  background: #ff5722;
}

#btn-ubuntu > a{
  text-decoration: none;
  color: white;
}
