*{
  font-family: Monospace;
}
#logo{
  width: 80px;
  height: 80px;
  padding: 5px;
}

.poster{
  background: url("../images/poste.jpg");
  position: relative;
  text-align: center;
}

#top-menu{
  font-size: 20px;
  background-color: rgb(70, 65, 65)
}

.col-img{
  margin-top: 20px;
}

.col-img:hover{
  opacity: 0.7;
  
}
